<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>关于我们</title>
<link href="css/select2.css" rel="stylesheet"/>
<link rel="stylesheet" href="css/style.css" />
<script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>

<script type="text/javascript" src="js/search/area.js"></script>
<script type="text/javascript" src="js/search/location.js"></script>
<script type="text/javascript" src="js/search/select2.js"></script>
<script type="text/javascript" src="js/search/select2_locale_zh-CN.js"></script>

<script type="text/javascript" src="js/jquery.touchSlider.js"></script>
<script type="text/javascript" src="js/js.js"></script>
<script type="text/javascript" src="js/ks-switch.pack.js"></script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">
<link href="../AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css">
<link href="../AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css">
<link href="../css/personal.css" rel="stylesheet" type="text/css">
<link href="../css/orstyle.css" rel="stylesheet" type="text/css">
<script src="../AmazeUI-2.4.2/assets/js/jquery.min.js"></script>
<script src="../AmazeUI-2.4.2/assets/js/amazeui.js"></script>

</head>

<body >
<!-- top内容开始 -->
        <header>
            <article>
                <div class="mt-logo">
            <!--顶部导航条 -->
                    <!--悬浮搜索框-->
                    <div class="nav white"></div>
                    <div class="clear"></div>
                </div>              
            </article>
        </header>
        <div class="nav-table">
            <div class="long-title" style="margin-left: 100px;"><span class="all-goods">全部分类</span></div>
            <div class="nav-cont">
                <ul>
                    <li class="index" style="margin-left: 100px;"><a href="#">首页</a></li>
                </ul>
            </div>
        </div>
        <b class="line"></b> 
<!-- top内容结束 -->

<!-- 内容开始 -->
<div class="nr">
    <!-- 帮众开始 -->

  <div class="bfs_search">
      <div class="center_gga" style="float:left; background-color:#f3f3f3; ">
          <div class="center_gga_1" >相关组织</div>
      </div>
      <div class="bz_a" style="width: 330px; height: 200px;">
          <div class="bz_a_1">
            <a href="http://www.imu.edu.cn/">内蒙古大学</a>
          </div>
          <div class="bz_a_2" style="width: 330px;">
              <ul>
                  <li style="width: 330px;">内蒙古大学位于内蒙古自治区首府、历史文化名城呼和浩特市，距北京400余公里，是中华人民共和国成立后党和国家在少数民族地区创办的第一所综合大学。</li>
              </ul>
          </div>
      </div>
      <div class="bz_a" style="width: 315px;height: 200px;">
          <div class="bz_a_1">
              <a href="http://see.imu.edu.cn/"> 生态与环境学院</a>
          </div>
          <div class="bz_a_2" style="width: 315px;">
              <ul>
                  <li style="width: 315px;">生态与环境学院是2016年由内蒙古大学原环境与资源学院与生命科学学院生态学系整合而成的新型学院。</li>
              </ul>
          </div>
      </div>
      <div class="bz_a" style="width: 351px;height: 200px;">
          <div class="bz_a_1">
              <a href="http://www.imudges.com/">IMUDGES</a>
          </div>
          <div class="bz_a_2" style="width: 350px;">
              <ul>
                  <li style="width: 350px;">内蒙古大学精英学生开发者联盟成立于2011年，是由一群喜欢钻研、勤于动手、勇于创新的学生组成的一个学生组织。联盟以“自由、创新、共享”为宗旨，希望为“学生”、“学校”、“企业”提供更好的合作平台。 </li>
              </ul>
          </div>
      </div>
<!-- 搜索内容开始 -->
<!--   -->
      <div class="bft_f">
          <div class="bft_f_1">
              <ul>
                  <li style="width: 200px;font-size: 13px;">部门</li>
                  <li style="width: 300px;font-size: 13px;">职能</li>
                  <li style="width: 500px;font-size: 13px;">贡献/成果</li>
              </ul>
          </div>
      <div class="bft_f_2">
          <ul>
              <li style="width: 200px;"><span>生态与环境学院</span></li>
              <li style="width: 300px;font-size: 13px;">提出假设，提供资源与设施</li> 
              <li style="width: 500px;font-size: 13px;">是设想的提出者。尽最大努力为设想提供动力，为开发提供打下基础。</li>
          </ul>
      </div>
          <div class="bft_f_2">
              <ul>
                  <li style="width: 200px;"><span>IMUDGES</span></li>
                  <li style="width: 300px;font-size: 13px;">将设想实现，将初步想法现实化</li>      
                  <li style="width: 500px;font-size: 13px;">是设想的实现者。实现了平台的创建。</li>
              </ul>
          </div>
          <div class="bft_f_2">
              <ul>
                  <li style="width: 200px;"><span>内蒙古大学</span></li>
                  <li style="width: 300px;font-size: 13px;">为大学生的开拓创新提供了平台与保障</li> 
                  <li style="width: 500px;font-size: 13px;">在对学生的培养中实现了学校的开拓升级。</li>
              </ul>
          </div>           
      </div>
<!--   -->    
        <div class="blank"></div>
        <div class="blank"></div>
        <div class="button" >
            <a href="about.html">关于我们</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="sm.html">网站声明</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="contact.html">联系方式</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="kf.html">服务中心</a><br />
        </div>
        
    </div>
  <!-- 帮众结束 -->

</div>
<!-- 内容结束 -->




</body>
</html>
