<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>二手交易网站 — 精选事务</title>
<link href="css/select2.css" rel="stylesheet"/>
<link rel="stylesheet" href="css/style.css" />
<script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>

<script type="text/javascript" src="js/search/area.js"></script>
<script type="text/javascript" src="js/search/location.js"></script>
<script type="text/javascript" src="js/search/select2.js"></script>
<script type="text/javascript" src="js/search/select2_locale_zh-CN.js"></script>

<script type="text/javascript" src="js/jquery.touchSlider.js"></script>
<script type="text/javascript" src="js/js.js"></script>
<script type="text/javascript" src="js/ks-switch.pack.js"></script>


</head>

<body class="bft_bg">
<!-- top内容开始 -->
<div class="top">
	<div class="top_a">
    	<div class="top_a3">您好，欢迎来到！ <span style="font-size:14px; font-weight:bold; color:#424242">内蒙古大学&nbsp;</span><input id="btn_nation" type="button" value="" onclick="nationSelect()" /></div>
    	       <div class="top_a1">
            
        </div>
    </div>
    <div class="top_bg">
    	<div class="top_bga">
        	<div class="top_bga_1"></div>
            <div class="top_bga_2">
            	<ul>
                	<a href="bz.html"><li>我的</li></a>
                    <a href="ly.html"><li>留言板</li></a>    
                    <a href="bz.html"><li>在线帮助</li></a>
                    <a href="index.html"><li>主 页</li></a>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- top内容结束 -->

<div class="center_blank"></div>
<!-- 内容开始 -->
<div class="nr">  
          <div class="bft_f">
          	<div class="bft_f_1">
            	<ul>
                	<li>区域</li>
                    <li>内容</li>
                    <li>报 酬</li>
                    <li>物品详情</li>
                    <li></li>
                </ul>
            </div>
            <div class="bft_f_2">
            	<ul>
                	<li><span>内蒙古大学</span></li>
                    <li>C++程序设计基础</li>
                    <li>200元</li>
                    <li>熟练操作电脑，熟悉网络</li>
                    <li><a href="zzy.html"><img src="images/shenqing.jpg" /></a></li>
                </ul>
            </div>
            <div class="bft_f_2">
            	<ul>
                	<li><span>内蒙古大学</span></li>
                    <li>储物箱</li>
                    <li>40元</li>
                    <li> 塑料材料</li>
                    <li><a href="zzy.html"><img src="images/shenqing.jpg" /></a></li>
                </ul>
            </div>
            <div class="bft_f_2">
            	<ul>
                	<li><span>内蒙古大学</span></li>
                    <li>床垫</li>
                    <li>150元</li>
                    <li>九成新</li>
                    <li><a href="zzy.html"><img src="images/shenqing.jpg" /></a></li>
                </ul>
            </div>
            <div class="bft_f_2">
            	<ul>
                	<li><span>内蒙古大学</span></li>
                    <li>内蒙古大学纪念册</li>
                    <li>120元</li>
                    <li>新装修办公楼内桥架管内敷设线路</li>
                    <li><a href="zzy.html"><img src="images/shenqing.jpg" /></a></li>
                </ul>
            </div>
            <div class="bft_f_2">
            	<ul>
                	<li><span>内蒙古大学</span></li>
                    <li>电脑主机</li>
                    <li>2000元</li>
                    <li>熟练操作电脑，熟悉网络</li>
                    <li><a href="zzy.html"><img src="images/shenqing.jpg" /></a></li>
                </ul>
            </div>
            <div class="bft_f_2">
            	<ul>
                	<li><span>内蒙古大学</span></li>
                    <li>苹果7</li>
                    <li>5000元</li>
                    <li>六成新</li>
                    <li><a href="zzy.html"><img src="images/shenqing.jpg" /></a></li>
                </ul>
            </div>
            <div class="bft_f_2">
            	<ul>
                	<li><span>内蒙古大学</span></li>
                    <li>书包</li>
                    <li>200元</li>
                    <li>皮质书包，防水耐磨</li>
                    <li><a href="zzy.html"><img src="images/shenqing.jpg" /></a></li>
                </ul>
            </div>
            <div class="bft_f_2">
            	<ul>
                	<li><span>内蒙古大学</span></li>
                    <li>Tupperware水杯</li>
                    <li>80元</li>
                    <li>容量：430ml</li>
                    <li><a href="zzy.html"><img src="images/shenqing.jpg" /></a></li>
                </ul>
            </div>
            <div class="bft_f_2">
            	<ul>
                	<li><span>内蒙古大学</span></li>
                    <li>内蒙古大学抬头信纸</li>
                    <li>2/沓</li>
                    <li>越多越优惠</li>
                    <li><a href="zzy.html"><img src="images/shenqing.jpg" /></a></li>
                </ul>
            </div>
            <div class="bft_f_2">
            	<ul>
                	<li><span>内蒙古大学</span></li>
                    <li>专业出售VIVE OPPO 耳机</li>
                    <li>10元/件</li>
                    <li>全新原装耳机</li>
                    <li><a href="zzy.html"><img src="images/shenqing.jpg" /></a></li>
                </ul>
            </div>
            <div class="bft_f_2">
            	<ul>
                	<li><span>内蒙古大学</span></li>
                    <li>ThinkPad E575</li>
                    <li>3500元</li>
                    <li>使用了半年</li>
                    <li><a href="zzy.html"><img src="images/shenqing.jpg" /></a></li>
                </ul>
            </div>
            <div class="bft_f_2">
            	<ul>
                	<li><span>内蒙古大学</span></li>
                    <li>皮箱</li>
                    <li>80元</li>
                    <li>毕业带不走，只使用了3次</li>
                    <li><a href="zzy.html"><img src="images/shenqing.jpg" /></a></li>
                </ul>
            </div>
             <div class="bft_f_2">
            	<ul>
                	<li><span>内蒙古大学</span></li>
                    <li>胶水</li>
                    <li>2元</li>
                    <li>无</li>
                    <li><a href="zzy.html"><img src="images/shenqing.jpg" /></a></li>
                </ul>
            </div>
            <div class="bft_f_2">
            	<ul>
                	<li><span>内蒙古大学</span></li>
                    <li>专业出售路由器</li>
                    <li>140元</li>
                    <li>全新，有发票</li>
                    <li><a href="zzy.html"><img src="images/shenqing.jpg" /></a></li>
                </ul>
            </div>
            <div class="bft_f_2">
            	<ul>
                	<li><span>内蒙古大学</span></li>
                    <li>遥控飞机</li>
                    <li>200元</li>
                    <li>全新</li>
                    <li><a href="zzy.html"><img src="images/shenqing.jpg" /></a></li>
                </ul>
            </div>
            <div class="bft_f_2">
            	<ul>
                	<li><span>内蒙古大学</span></li>
                    <li>纯棉袜子</li>
                    <li>3元/双</li>
                    <li>多多优惠</li>
                    <li><a href="zzy.html"><img src="images/shenqing.jpg" /></a></li>
                </ul>
            </div>
            <div class="bft_f_2">
            	<ul>
                	<li><span>内蒙古大学</span></li>
                    <li>英语四六级材料</li>
                    <li>200元</li>
                    <li>全套材料，练习册</li>
                    <li><a href="zzy.html"><img src="images/shenqing.jpg" /></a></li>
                </ul>
            </div>
            <div class="bft_f_2">
            	<ul>
                	<li><span>内蒙古大学</span></li>
                    <li>《百年孤独》</li>
                    <li>30元</li>
                    <li>官方授权，正版图书</li>
                    <li><a href="zzy.html"><img src="images/shenqing.jpg" /></a></li>
                </ul>
            </div>
            <div class="bft_f_3">
            	<ul>
                	<li>第<span>3</span>页</li>
                    <li><a href="#">首页</a></li>
                    <li><a href="#">上一页</a> </li>
                    <li><a href="#">下一页</a> </li>
                    <li><a href="#">尾页</a></li>
                    <li><a href="#">共5页</a></li>
                </ul>
            </div>
          </div>
          <!--   -->
           

          <!-- 友情链接开始 -->
     
    <!-- 友情链接结束 -->
    
    <!-- 底部内容开始 -->
	
		<!-- 底部内容结束 -->
    
    	<!-- 搜索内容结束 -->
        
    </div>
	<!-- 帮众结束 -->
    
    
   
   
    
</div>
<!-- 内容结束 -->

<!-- alpha div -->
<div id="maskLayer" style="display:none;">
<iframe id="maskLayer_iframe" frameBorder=0 scrolling=no style="filter:alpha(opacity=50)"></iframe>
<div id="alphadiv" style="filter:alpha(opacity=50);-moz-opacity:0.5;opacity:0.5"></div>
	<div id="drag">
		<h3 id="drag_h"></h3>
		<div id="drag_con"></div><!-- drag_con end -->
	</div>
</div><!-- maskLayer end -->
</div>
<!-- alpha div end -->

</body>
</html>
