<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>登录</title>
<link href="css/select2.css" rel="stylesheet"/>
<link rel="stylesheet" href="css/style.css" />
<script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>

<script type="text/javascript" src="js/search/area.js"></script>
<script type="text/javascript" src="js/search/location.js"></script>
<script type="text/javascript" src="js/search/select2.js"></script>
<script type="text/javascript" src="js/search/select2_locale_zh-CN.js"></script>

<script type="text/javascript" src="js/jquery.touchSlider.js"></script>
<script type="text/javascript" src="js/js.js"></script>
<script type="text/javascript" src="js/ks-switch.pack.js"></script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">
<link href="../AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css">
<link href="../AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css">
<link href="../css/personal.css" rel="stylesheet" type="text/css">
<link href="../css/orstyle.css" rel="stylesheet" type="text/css">
<script src="../AmazeUI-2.4.2/assets/js/jquery.min.js"></script>
<script src="../AmazeUI-2.4.2/assets/js/amazeui.js"></script>

</head>

<body >
<!-- top内容开始 -->
        <header>
            <article>
                <div class="mt-logo">
            <!--顶部导航条 -->
                    <!--悬浮搜索框-->
                    <div class="nav white"></div>
                    <div class="clear"></div>
                </div>
            </article>
        </header>
        <div class="nav-table">
            <div class="long-title" style="margin-left: 100px;"><span class="all-goods">闲置物品交易平台</span></div>
            <div class="nav-cont">
                <ul>
                    <li class="index" style="margin-left: 100px;"><a href="home1.html">首页</a></li>
                </ul>
            </div>
        </div>
        <b class="line"></b>
<!-- top内容结束 -->
<div class="center_blank"></div>
<!-- 公告和介绍开始  --><!-- 公告和介绍结束  -->
<!-- 内容开始 -->
<div class="nr">
	 <div class="bzz">
    	<div class="center_gga">
			<div class="center_gga_1">&nbsp;登&nbsp;&nbsp;陆</div>
		</div>
        <div class="zc_a">
        	<div class="zc_left"><img src="images/zc_2.jpg" usemap="#Map" border="0" />
              <map name="Map" id="Map">
                <area shape="rect" coords="67,37,98,66" href="#" />
                <area shape="rect" coords="111,36,146,65" href="#" />
                <area shape="rect" coords="162,37,190,66" href="#" />
              </map>
       	  </div>
            <div class="zc_right">
            	<div class="item_c">
    				<label>用户名/邮箱/手机号</label>
 				</div>
                <div class="item">
   				  <input type="text" />
 				</div>
                <div class="item_c">
    				<label>密&nbsp;码：</label>
 			    </div>
                <div class="item">
   				  <input type="text" />
 				</div>
                <div class="xgmm">
                    <a href="zc_xg.html">
                        <li>忘记密码？</li>
                    </a>
                </div>
              <div class="item_d">
              	<input type="checkbox" />&nbsp;下次自动登录(公共场所请勿勾选)
              </div>
              <div class="item_b">
              	 <a href="     ">
                      <bottom style="margin-left:80px; color:white; font-size: 20px; background-color: #ff7550 ;padding-left:50px;padding-top:10px;padding-bottom:10px;padding-right:50px;">登&nbsp;&nbsp;陆</bottom>
                  </a>
              </div>
          </div>
        </div>
    </div>


  <!-- 底部内容开始 -->
    <div class="blank"></div>
    <div class="blank"></div>
    <div class="button">
        <a href="">关于我们</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="">网站声明</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="">联系方式</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="">服务中心</a><br />
    </div>
    <!-- 底部内容结束 -->

</div>
<!-- 内容结束 -->

<!-- alpha div -->
<div id="maskLayer" style="display:none;">
<iframe id="maskLayer_iframe" frameBorder=0 scrolling=no style="filter:alpha(opacity=50)"></iframe>
<div id="alphadiv" style="filter:alpha(opacity=50);-moz-opacity:0.5;opacity:0.5"></div>
	<div id="drag">
		<h3 id="drag_h"></h3>
		<div id="drag_con"></div><!-- drag_con end -->
	</div>
</div><!-- maskLayer end -->
</div>
<!-- alpha div end -->

</body>
</html>
