<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>首页</title>

    <link href="/static/static1/AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css"/>
    <link href="/static/static1/AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css"/>

    <link href="/static/static1/basic/css/demo.css" rel="stylesheet" type="text/css"/>
    <link href="/static/static1/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="/static/static1/css/hmstyle.css" rel="stylesheet" type="text/css"/>
    <script src="/static/static1/AmazeUI-2.4.2/assets/js/jquery.min.js" type="text/javascript"></script>
    <script src="/static/static1/AmazeUI-2.4.2/assets/js/amazeui.min.js" type="text/javascript"></script>

</head>

<body>
<div class="hmtop">
    <!--顶部导航条 -->
    <div class="am-container header">

        <ul class="message-r">

            <div class="topMessage favorite">

                <div class="menu-hd"><a href="dl.html" target="_top"><i
                        class="am-icon-heart am-icon-fw"></i><span>登录</span></a>&nbsp;&nbsp;&nbsp;&nbsp;<a
                        href="zc.html">注册</a></div>

        </ul>
    </div>

    <!--悬浮搜索框-->

    <div class="nav white">
        <div class="logo"><img src="../images/logo.png"/></div>
        <div class="logoBig">
            <li><img src="../images/logobig.png"/></li>
        </div>

        <div class="search-bar pr">
            <a name="index_none_header_sysc" href="#"></a>
            <form>
                <input id="searchInput" name="index_none_header_sysc" type="text" placeholder="搜索" autocomplete="off">
                <input id="ai-topsearch" class="submit am-btn" value="搜索" index="1" type="submit">
            </form>
        </div>
    </div>

    <div class="clear"></div>
</div>
<div class="banner">
    <!--轮播 -->
    <div class="am-slider am-slider-default scoll" data-am-flexslider id="demo-slider-0">
        <ul class="am-slides">
            <li class="banner1"><a href="wpqd.html"><img src="../images/ad1.jpg"/></a></li>
            <li class="banner2"><a href="wpqd.html"><img src="../images/ad2.jpg"/></a></li>
            <li class="banner3"><a href="wpqd.html"><img src="../images/ad3.jpg"/></a></li>
            <li class="banner4"><a href="wpqd.html"><img src="../images/ad4.jpg"/></a></li>
            <li class="banner5"><a href="wpqd.html"><img src="../images/ad5.jpg"/></a></li>
            <li class="banner6"><a href="wpqd.html"><img src="../images/ad6.jpg"/></a></li>
            <li class="banner7"><a href="wpqd.html"><img src="../images/ad7.jpg"/></a></li>
            <li class="banner8"><a href="wpqd.html"><img src="../images/ad8.jpg"/></a></li>
            <li class="banner9"><a href="wpqd.html"><img src="../images/ad9.jpg"/></a></li>

        </ul>
    </div>
    <div class="clear"></div>
</div>
<div class="shopNav">
    <div class="slideall">

        <div class="long-title"><span class="all-goods">全部分类</span></div>
        <div class="nav-cont">
            <ul>
                <!-- 					<li class="index"><a href="home1.html">首页</a></li> -->
                <!--       <li class="qc"><a href="ly.html">留言板</a></li> -->
                <li class="qc"><a href="../person/information.html">我的</a></li>
                <li class="qc last"><a href="#"></a></li>
            </ul>

        </div>

        <!--侧边导航 -->
        <div id="nav" class="navfull">
            <div class="area clearfix">
                <div class="category-content" id="guide_2">

                    <div class="category">
                        <ul class="category-list" id="js_climit_li">
                            <li class="appliance js_toggle relative first">
                                <div class="category-info">
                                    <h3 class="category-name b-category-name"><a class="ml-22" title="素食、卤味"
                                                                                 href="wpqd.html"><i><img
                                            src="../images/bamboo.png"></i>书籍资料</h3>
                                    <em>&gt;</em></div>
                                </a>

                            </li>
                            <li class="appliance js_toggle relative">
                                <div class="category-info">
                                    <h3 class="category-name b-category-name"><a class="ml-22" title="素食、卤味"
                                                                                 href="wpqd.html"><i><img
                                            src="../images/bamboo.png"></i>服装饰品</h3>
                                    <em>&gt;</em></div>
                                </a>

                            </li>
                            <li class="appliance js_toggle relative">
                                <div class="category-info">
                                    <h3 class="category-name b-category-name"><a class="ml-22" title="素食、卤味"
                                                                                 href="wpqd.html"><i><img
                                            src="../images/bamboo.png"></i>日用百货</h3>
                                    <em>&gt;</em></div>
                                </a>

                            </li>
                            <li class="appliance js_toggle relative">
                                <div class="category-info">
                                    <h3 class="category-name b-category-name"><a class="ml-22" title="素食、卤味"
                                                                                 href="wpqd.html"><i><img
                                            src="../images/bamboo.png"></i>电子产品</h3>
                                    <em>&gt;</em></div>
                                </a>

                            </li>


                            <li class="appliance js_toggle relative">
                                <div class="category-info">
                                    <h3 class="category-name b-category-name"><a class="ml-22" title="素食、卤味"
                                                                                 href="wpqd.html"><i><img
                                            src="../images/bamboo.png"></i>运动户外</h3>
                                    <em>&gt;</em></div>
                                </a>

                            </li>

                            <li class="appliance js_toggle relative">
                                <div class="category-info">
                                    <h3 class="category-name b-category-name"><a class="ml-22" title="素食、卤味"
                                                                                 href="wpqd.html"><i><img
                                            src="../images/bamboo.png"></i>零食</h3>
                                    <em>&gt;</em></div>
                                </a>

                            </li>

                            <li class="appliance js_toggle relative">
                                <div class="category-info">
                                    <h3 class="category-name b-category-name"><a class="ml-22" title="素食、卤味"
                                                                                 href="wpqd.html"><i><img
                                            src="../images/bamboo.png"></i>娱乐</h3>
                                    <em>&gt;</em></div>
                                </a>

                            </li>

                            <li class="appliance js_toggle relative">
                                <div class="category-info">
                                    <h3 class="category-name b-category-name"><a class="ml-22" title="素食、卤味"
                                                                                 href="wpqd.html"><i><img
                                            src="../images/bamboo.png"></i>办公</h3>
                                    <em>&gt;</em></div>
                                </a>

                            </li>

                            <li class="appliance js_toggle relative">
                                <div class="category-info">
                                    <h3 class="category-name b-category-name"><a class="ml-22" title="素食、卤味"
                                                                                 href="wpqd.html"><i><img
                                            src="../images/bamboo.png"></i>美妆</h3>
                                    <em>&gt;</em></div>
                                </a>

                            </li>

                            <li class="appliance js_toggle relative">
                                <div class="category-info">
                                    <h3 class="category-name b-category-name"><a class="ml-22" title="素食、卤味"
                                                                                 href="wpqd.html"><i><img
                                            src="../images/bamboo.png"></i>其他</h3>
                                    <em>&gt;</em></div>
                                </a>

                            </li>

                        </ul>
                    </div>
                </div>

            </div>
        </div>

        <!--轮播 -->
        <script type="text/javascript">
            (function () {
                $('.am-slider').flexslider();
            });
            $(document).ready(function () {
                $("li").hover(function () {
                    $(".category-content .category-list li.first .menu-in").css("display", "none");
                    $(".category-content .category-list li.first").removeClass("hover");
                    $(this).addClass("hover");
                    $(this).children("div.menu-in").css("display", "block")
                }, function () {
                    $(this).removeClass("hover")
                    $(this).children("div.menu-in").css("display", "none")
                });
            })
        </script>


        <!--小导航 -->
        <div class="am-g am-g-fixed smallnav">
            <div class="am-u-sm-3">
                <a href="sort.html"><img src="../images/navsmall.jpg"/>
                    <div class="title">商品分类</div>
                </a>
            </div>
            <div class="am-u-sm-3">
                <a href="#"><img src="../images/huismall.jpg"/>
                    <div class="title">大聚惠</div>
                </a>
            </div>
            <div class="am-u-sm-3">
                <a href="#"><img src="../images/mansmall.jpg"/>
                    <div class="title">个人中心</div>
                </a>
            </div>
            <div class="am-u-sm-3">
                <a href="#"><img src="../images/moneysmall.jpg"/>
                    <div class="title">投资理财</div>
                </a>
            </div>
        </div>

        <!--走马灯 -->

        <div class="marqueen">
            <span class="marqueen-title">求购公告</span>
            <div class="demo">

                <ul>
                    <li><a target="_blank" href="wpxq.html"><span>[求购]</span>洋河年末大促，低至两件五折</a></li>
                    <li><a target="_blank" href="wpxq.html"><span>[求购]</span>洋河年末大促，低至两件五折</a></li>
                    <li><a target="_blank" href="wpxq.html"><span>[求购]</span>洋河年末大促，低至两件五折</a></li>
                    <li><a target="_blank" href="wpxq.html"><span>[求购]</span>洋河年末大促，低至两件五折</a></li>
                    <li><a target="_blank" href="wpxq.html"><span>[求购]</span>洋河年末大促，低至两件五折</a></li>
                    <li><a target="_blank" href="wpxq.html"><span>[求购]</span>洋河年末大促，低至两件五折</a></li>
                    <li><a target="_blank" href="wpxq.html"><span>[求购]</span>洋河年末大促，低至两件五折</a></li>
                    <li><a target="_blank" href="wpxq.html"><span>[公告]</span>洋河年末大促，低至两件五折</a></li>
                    <li><a target="_blank" href="wpxq.html"><span>[公告]</span>华北、华中部分地区配送延迟</a></li>
                    <li><a target="_blank" href="wym.html"><span>更多>>></span></a></li>
                    <li><a target="_blank" href="../person/sq.html"><span>发布>>></span></a></li>


                </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <script type="text/javascript">
        if ($(window).width() < 640) {
            function autoScroll(obj) {
                $(obj).find("ul").animate({
                    marginTop: "-39px"
                }, 500, function () {
                    $(this).css({
                        marginTop: "0px"
                    }).find("li:first").appendTo(this);
                })
            }

            $(function () {
                setInterval('autoScroll(".demo")', 3000);
            })
        }
    </script>
</div>
<div class="shopMainbg">
    <div class="shopMain" id="shopmain">

        <!--今日推荐 -->

        <div class="am-g am-g-fixed recommendation">
            <div class="clock am-u-sm-3"
            ">
            <img src="../images/2016.png "></img>
            <p>今日<br>推荐</p>
        </div>
        <div class="am-u-sm-4 am-u-lg-3 ">
            <div class="info ">
                <h3>好货不断</h3>
                <h4>福利篇</h4>
            </div>
            <div class="recommendationMain one">
                <img src="../images/tj.png "></img>
            </div>
        </div>
        <div class="am-u-sm-4 am-u-lg-3 ">
            <div class="info ">
                <h3>鲜果干货</h3>
                <h4>让爱早回家</h4>
            </div>
            <div class="recommendationMain two">
                <img src="../images/tj1.png "></img>
            </div>
        </div>
        <div class="am-u-sm-4 am-u-lg-3 ">
            <div class="info ">
                <h3>浪漫美食</h3>
                <h4>甜甜蜜蜜</h4>
            </div>
            <div class="recommendationMain three ">
                <img src="../images/tj2.png "></img>
            </div>
        </div>

    </div>
    <div class="clear "></div>
    <!--热门活动 -->

    <!-- 			<div class="am-container activity ">
                    <div class="shopTitle ">
                        <h4>物品</h4>
                        <h3>每期物品</h3>
                        <span class="more ">
                           <a href="# ">全部活动<i class="am-icon-angle-right" style="padding-left:10px ;" ></i></a>
                        </span>
                    </div>

                  <div class="am-g am-g-fixed ">
                    <div class="am-u-sm-3 ">
                        <div class="icon-sale one "></div>
                            <h4>秒杀</h4>
                        <div class="activityMain ">
                            <img src="../images/activity1.jpg "></img>
                        </div>
                        <div class="info ">
                            <h3>春节送礼优选</h3>
                        </div>
                    </div>

                    <div class="am-u-sm-3 ">
                      <div class="icon-sale two "></div>
                        <h4>特惠</h4>
                        <div class="activityMain ">
                            <img src="../images/activity2.jpg "></img>
                        </div>
                        <div class="info ">
                            <h3>春节送礼优选</h3>
                        </div>
                    </div>

                    <div class="am-u-sm-3 ">
                        <div class="icon-sale three "></div>
                        <h4>团购</h4>
                        <div class="activityMain ">
                            <img src="../images/activity3.jpg "></img>
                        </div>
                        <div class="info ">
                            <h3>春节送礼优选</h3>
                        </div>
                    </div>

                    <div class="am-u-sm-3 last ">
                        <div class="icon-sale "></div>
                        <h4>超值</h4>
                        <div class="activityMain ">
                            <img src="../images/activity.jpg "></img>
                        </div>
                        <div class="info ">
                            <h3>春节送礼优选</h3>
                        </div>
                    </div>

                  </div>
               </div>
                <div class="clear "></div> -->

    <!--甜点-->
    <div id="f1">
        <div class="am-container ">
            <div class="shopTitle ">
                <h4>全部物品</h4>
                <h3>每一件物品都有一个故事</h3>
                <!-- <div class="today-brands ">
                    <a href="# ">桂花糕</a>
                    <a href="# ">奶皮酥</a>
                    <a href="# ">栗子糕 </a>
                    <a href="# ">马卡龙</a>
                    <a href="# ">铜锣烧</a>
                    <a href="# ">豌豆黄</a>
                </div> -->
                <span class="more ">
                                 <a href="wpqd.html">更多物品<i class="am-icon-angle-right" style="padding-left:10px ;"></i></a>
                            </span>
            </div>
        </div>

        <div class="am-g am-g-fixed floodFive ">

            <div class="am-u-sm-5 am-u-md-3 text-one list">

                <img src="../images/act1.png "/>
                <div class="outer-con ">
                    <div class="title ">

                    </div>
                    <div class="sub-title ">

                    </div>
                </div>
                </a>
                <div class="triangle-topright"></div>
            </div>
            <div class="am-u-sm-7 am-u-md-5 am-u-lg-2 text-two">
                <div class="outer-con ">
                    <div class="title ">
                        <a href="wpxq.html">雪之恋和风大福</a>
                    </div>
                    <div class="sub-title ">
                        ¥13.8
                    </div>
                    <i class="am-icon-shopping-basket am-icon-md  seprate"></i>
                </div>
                <a href="wpxq.html "><img src="../images/1.jpg "/></a>
            </div>

            <div class="am-u-md-2 am-u-lg-2 text-three sug">
                <div class="outer-con ">
                    <div class="title ">
                        <a href="wpxq.html">小优布丁</a>
                    </div>
                    <div class="sub-title ">
                        ¥4.8
                    </div>
                    <i class="am-icon-shopping-basket am-icon-md  seprate"></i>
                </div>
                <a href="wpxq.html "><img src="../images/2.jpg"/></a>
            </div>
            <div class="am-u-md-2 am-u-lg-2 text-three big">
                <div class="outer-con ">
                    <div class="title ">
                        <a href="wpxq.html">小优布丁</a>
                    </div>
                    <div class="sub-title ">
                        ¥4.8
                    </div>
                    <i class="am-icon-shopping-basket am-icon-md  seprate"></i>
                </div>
                <a href="wpxq.html"></a> <img src="../images/5.jpg"/></a>
            </div>
            <div class="am-u-sm-4 am-u-md-5 am-u-lg-4 text-five">
                <div class="outer-con ">
                    <div class="title ">
                        <a href="wpxq.html">小优布丁</a>
                    </div>
                    <div class="sub-title ">
                        ¥4.8
                    </div>
                    <i class="am-icon-shopping-basket am-icon-md  seprate"></i>
                </div>
                <a href="wpxq.html "><img src="../images/3.jpg"/></a>
            </div>
            <div class="am-u-sm-4 am-u-md-2 am-u-lg-2 text-six">
                <div class="outer-con ">
                    <div class="title ">
                        <a href="wpxq.html">小优布丁</a>
                    </div>
                    <div class="sub-title ">
                        ¥4.8
                    </div>
                    <i class="am-icon-shopping-basket am-icon-md  seprate"></i>
                </div>
                <a href="wpxq.html "><img src="../images/4.jpg"/></a>
            </div>
            <div class="am-u-sm-4 am-u-md-2 am-u-lg-4 text-six big">
                <div class="outer-con ">
                    <div class="title ">
                        <a href="wpxq.html">小优布丁</a>
                    </div>
                    <div class="sub-title ">
                        ¥4.8
                    </div>
                    <i class="am-icon-shopping-basket am-icon-md  seprate"></i>
                </div>
                <a href="wpxq.html "><img src="../images/5.jpg"/></a>
            </div>
        </div>

        <div class="clear "></div>
    </div>

    <div id="f2">.
        <!--甜点-->


        <div class="footer">
            <div class="footer-hd">
                <p>
                    <a href="#">IMUDGES</a>
                    <!-- 				<b>|</b>
                                    <a href="#">商城首页</a>
                                    <b>|</b>
                                    <a href="#">支付宝</a>
                                    <b>|</b>
                                    <a href="#">物流</a> -->
                </p>
            </div>
            <div class="footer-bd">
                <p>
                    <a href="#">关于IMUDGES</a>
                    <a href="#">合作伙伴</a>
                    <a href="#">联系我们</a>
                    <a href="#">网站地图</a>

                </p>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<!--引导-->
<div class="navCir">
    <li class="active"><a href="home1.html"><i class="am-icon-home "></i>首页</a></li>
    <li><a href="sort.html"><i class="am-icon-list"></i>分类</a></li>
    <li><a href="shopcart.html"><i class="am-icon-shopping-basket"></i>购物车</a></li>
    <li><a href="../person/index.html"><i class="am-icon-user"></i>我的</a></li>
</div>

<!--菜单 -->

<script>
    window.jQuery || document.write('<script src="basic/js/jquery.min.js "><\/script>');
</script>
<script type="text/javascript " src="../basic/js/quick_links.js "></script>
</body>

</html>
