<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>用户反馈</title>
<link href="css/select2.css" rel="stylesheet"/>
<link rel="stylesheet" href="css/style.css" />
<script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>

<script type="text/javascript" src="js/search/area.js"></script>
<script type="text/javascript" src="js/search/location.js"></script>
<script type="text/javascript" src="js/search/select2.js"></script>
<script type="text/javascript" src="js/search/select2_locale_zh-CN.js"></script>

<script type="text/javascript" src="js/jquery.touchSlider.js"></script>
<script type="text/javascript" src="js/js.js"></script>
<script type="text/javascript" src="js/ks-switch.pack.js"></script>
<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">


   
        <link href="../AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css">
        <link href="../AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css">

        <link href="../css/personal.css" rel="stylesheet" type="text/css">
        <link href="../css/orstyle.css" rel="stylesheet" type="text/css">

        <script src="../AmazeUI-2.4.2/assets/js/jquery.min.js"></script>
        <script src="../AmazeUI-2.4.2/assets/js/amazeui.js"></script>

</head>

<body >
<!-- top内容开始 -->
        <header>
            <article>
                <div class="mt-logo">
            <!--顶部导航条 -->
                    <!--悬浮搜索框-->
                    <div class="nav white"></div>
                    <div class="clear"></div>
                </div>              
            </article>
        </header>
        <div class="nav-table">
            <div class="long-title" style="margin-left: 100px;"><span class="all-goods">全部分类</span></div>
            <div class="nav-cont">
                <ul>
                    <li class="index" style="margin-left: 100px;"><a href="#">首页</a></li>
                </ul>
            </div>
        </div>
        <b class="line"></b>    
<!-- top内容结束 -->
<div class="center_blank"></div>
<!-- 公告和介绍开始  --><!-- 公告和介绍结束  -->
<!-- 内容开始 -->
<div class="nr">
	<div class="bzz">
    	<div class="center_gga">
			<div class="center_gga_1">&nbsp;用&nbsp;户&nbsp;反&nbsp;馈</div>
		</div>
        <div class="bzz_a">
        	<div class="bzz_left">
            	<div class="bzz_b">
                	<p><span>帮助中心</span></p>
                    <p>★ 新手导航 （在册帮众/雇主）</p>
                    <p>★ 用户注册登录</p>
                    <p>★ 认证、取消认证（实名制认证）</p>
                    <p>★ 用等级评定</p>
                </div>
                
                <div class="bzz_d">
                	<p><span>网站建议</span></p>
                    <p>
                    	类型：
                    	<input type="radio" name="ts" value="1"  />&nbsp;改进网站
            			<input type="radio" name="ts" value="1"  />&nbsp;创意想法
                    	<input type="radio" name="ts" value="1"  />&nbsp;其他建议
                    </p>
                    <p class="item">
                    	<div class="bzz_e">内容：</div>
						<textarea style="width:360px; height:100px; border:1px solid #c9c9c9; color:#666; padding:5px;" name="remark"></textarea>
                    </p>　
                    <p>
                        <a href="     ">
                            <bottom style="margin-left:350px; color:white; font-size: 15px; background-color: #ff7550 ;padding: 5px;">提交</bottom>
                        </a>
                    </p>
                </div>
            </div>
            <div class="bzz_left"><img src="images/bzz_1.jpg" /></div>
        </div>
    </div>
    
    <!-- 底部内容开始 -->
	    <div class="blank"></div>
        <div class="blank"></div>
        <div class="button" >
            <a href="">关于我们</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="">网站声明</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="">联系方式</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="">服务中心</a><br />
        </div>
	<!-- 底部内容结束 -->
    
</div>
<!-- 内容结束 -->



</body>
</html>
