<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">

		<title>想对卖家说</title>

		<link href="../AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css">
		<link href="../AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css">

		<link href="../css/personal.css" rel="stylesheet" type="text/css">
		<link href="../css/orstyle.css" rel="stylesheet" type="text/css">

		<script src="../AmazeUI-2.4.2/assets/js/jquery.min.js"></script>
		<script src="../AmazeUI-2.4.2/assets/js/amazeui.js"></script>

	</head>

	<body>
		<!--头 -->
		<header>
			<article>
				<div class="mt-logo">
			<!--顶部导航条 -->
					<!--悬浮搜索框-->
					<div class="nav white"></div>
					<div class="clear"></div>
				</div>
			</article>
		</header>
        <div class="nav-table">
			<div class="long-title"><span class="all-goods">全部分类</span></div>
			<div class="nav-cont">
				<ul>
					<li class="index"><a href="#">首页</a></li>
				</ul>
			</div>
		</div>
			<b class="line"></b>
		<div class="center">
			<div class="col-main">
				<div class="main-wrap">
					<div class="user-order">
						<!--标题 -->
						<div class="am-cf am-padding">
							<div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">相对卖家说</strong></div>
						</div>
						<hr/>

						<div class="am-tabs am-tabs-d2 am-margin" data-am-tabs>

							<ul class="am-avg-sm-2 am-tabs-nav am-nav am-nav-tabs">
								<li class="am-active"><a href="#tab1">留下你的足迹</a></li>
								<li><a href="#tab2">历史留言</a></li>
							</ul>

							<div class="am-tabs-bd">
								<div class="am-tab-panel am-fade am-in am-active" id="tab1">
									<div class="order-top">
										<h3 style="margin-left: 20px;">留言：</h3>
										<textarea style="margin:20px; width:950px; height:200px; border:1px solid #c9c9c9; color:#666; " name="remark"></textarea>
										<div class="am-btn am-btn-danger anniu" style="margin-left: 800px;">提交</div>
									</div>
								</div>
								<div class="am-tab-panel am-fade" id="tab2">
									<div class="order-main">
										<div class="order-left" style="height: 100px;">
											<ul class="item-list">
												<div class="clear"></div>
												<div style="width:700px; margin:15px;height:70px;">
											        <p >啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊</p>
											    </div>
											</ul>
											<li class="td td-change td-changebutton">
                                                <a href="    ">
													<div class="am-btn am-btn-danger anniu">删除留言</div>
												</a>
											</li>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--底部-->
				<div class="footer"></div>
			</div>

			<div class="blank"></div>
        	<div class="blank"></div>
	        <div class="button" style="position: absolute; margin-top: 640px; margin-left: 500px;">
	            <a href="">关于我们</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="">网站声明</a>&nbsp;&nbsp;|&nbsp;&nbsp;
	            <a href="">联系方式</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="">服务中心</a><br />
	        </div>
	    <!-- 底部内容结束 -->

			<aside class="menu">
				<ul>
					<li class="person active">
						<a href="#"><i class="am-icon-user"></i>个人中心</a>
					</li>
					<li class="person">
						<p><i class="am-icon-newspaper-o"></i>个人资料</p>
						<ul>
							<li> <a href="../person/information.html">个人信息</a></li>
							<li> <a href="../person/address.html">地址管理</a></li>
						</ul>
					</li>
					<li class="person">
						<p><i class="am-icon-balance-scale"></i>我的交易</p>
						<ul>
							<li><a href="../person/order.html">订单管理</a></li>
						</ul>
					</li>
					<li class="person">
						<p><i class="am-icon-dollar"></i>我的物品</p>
						<ul>
							<li> <a href="../person/change.html">出售物品</a></li>

						</ul>
					</li>

					<li class="person">
						<p><i class="am-icon-tags"></i>我的收藏</p>
						<ul>
							<li> <a href="../person/collection.html">收藏</a></li>
						</ul>
					</li>

					<li class="person">
						<p><i class="am-icon-qq"></i>我的好友</p>
						<ul>
							<li> <a href="../person/consultation.html">全部好友</a></li>
							<li> <a href="../person/suggest.html">添加好友</a></li>
						</ul>
					</li>
						<li class="person">
						<p><i class="am-icon-list-alt"></i>我的留言</p>
						<ul>
							<li> <a href="../home/ly.html">全部留言</a></li>
						</ul>
					</li>
				</ul>

			</aside>
		</div>

	</body>

</html>
