<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">

		<title>意见反馈</title>

		<link href="../AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css">
		<link href="../AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css">

		<link href="../css/personal.css" rel="stylesheet" type="text/css">

		<script src="../AmazeUI-2.4.2/assets/js/jquery.min.js" type="text/javascript"></script>
		<script src="../AmazeUI-2.4.2/assets/js/amazeui.js" type="text/javascript"></script>

	</head>

	<body>
		<!--头 -->
		<header>
			<article>
						<div class="clear"></div>
					</div>
				</div>
			</article>
		</header>

		  <div class="nav-table">
					   <div class="long-title"><span class="all-goods">闲置物品交易平台</span></div>
					   <div class="nav-cont">
							<ul>
								<li class="index"><a href="../home/home1.html">首页</a></li>
							</ul>

						</div>
			</div>
		<b class="line"></b>

		<div class="center">
			<div class="col-main">
				<div class="main-wrap">
					<!--标题 -->
					<div class="am-cf am-padding">
						<div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">添加好友</strong> / <small>Add Friends</small></div>
					</div>
					<hr/>
					<div class="suggestmain">
						<p>请输入添加账号：</p>
						<div class="suggestlist">
							<form action="demo2_form.asp">
								<input type="text" name="newname">




						</div>
						<div class="suggestDetail">
							<p>填写认证消息：</p>
							<blockquote class="textArea">
								<textarea name="opinionContent" id="say_some" cols="60" rows="5" autocomplete="off" placeholder="在此描述您的具体内容"></textarea>
							</blockquote>
						</div>
						<div style="text-align: center;" >
							<br>
							<input type="submit" value="提  交" style="font-size: 20px;">
						</div>

					</form>
					<br><br><br><br>
						<p class="suggestTel"><i class="am-icon-phone"></i>客服电话：</p>
					</div>
				</div>
				<!--底部-->
				<div class="footer">
					<div class="footer-hd">
						<p>
							<a href="#">IMUGFES</a>
							<b>|</b>

						</p>
					</div>
					<div class="footer-bd">
						<p>
							<a href="#">关于IMUDGES</a>
							<a href="#">合作伙伴</a>
							<a href="#">联系我们</a>
							<a href="#">网站地图</a>

						</p>
					</div>
				</div>
			</div>

			<aside class="menu">
				<ul>
					<li class="person active">
						<a href="#"><i class="am-icon-user"></i>个人中心</a>
					</li>
					<li class="person">
						<p><i class="am-icon-newspaper-o"></i>个人资料</p>
						<ul>
							<li> <a href="information.html">个人信息</a></li>
							<li> <a href="address.html">地址管理</a></li>
						</ul>
					</li>
					<li class="person">
						<p><i class="am-icon-balance-scale"></i>我的交易</p>
						<ul>
							<li><a href="order.html">订单管理</a></li>
						</ul>
					</li>
					<li class="person">
						<p><i class="am-icon-dollar"></i>我的物品</p>
						<ul>
							<li> <a href="points.html">出售物品</a></li>

						</ul>
					</li>

					<li class="person">
						<p><i class="am-icon-tags"></i>我的收藏</p>
						<ul>
							<li> <a href="collection.html">收藏</a></li>
						</ul>
					</li>

					<li class="person">
						<p><i class="am-icon-qq"></i>我的好友</p>
						<ul>
							<li> <a href="consultation.html">全部好友</a></li>
							<li> <a href="suggest.html">添加好友</a></li>
						</ul>
					</li>
					<li class="person">
						<p><i class="am-icon-list-alt"></i>我的留言</p>
						<ul>
							<li> <a href="../home/ly.html">全部留言</a></li>
						</ul>
					</li>
				</ul>

			</aside>
		</div>

	</body>

</html>
