<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>物品清单</title>
<link href="css/select2.css" rel="stylesheet"/>
<link rel="stylesheet" href="css/style.css" />
<script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>

<script type="text/javascript" src="js/search/area.js"></script>
<script type="text/javascript" src="js/search/location.js"></script>
<script type="text/javascript" src="js/search/select2.js"></script>
<script type="text/javascript" src="js/search/select2_locale_zh-CN.js"></script>

<script type="text/javascript" src="js/jquery.touchSlider.js"></script>
<script type="text/javascript" src="js/js.js"></script>
<script type="text/javascript" src="js/ks-switch.pack.js"></script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">
<link href="../AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css">
<link href="../AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css">
<link href="../css/personal.css" rel="stylesheet" type="text/css">
<link href="../css/orstyle.css" rel="stylesheet" type="text/css">
<script src="../AmazeUI-2.4.2/assets/js/jquery.min.js"></script>
<script src="../AmazeUI-2.4.2/assets/js/amazeui.js"></script>

</head>

<body >
<!-- top内容开始 -->
        <header>
            <article>
                <div class="mt-logo">
            <!--顶部导航条 -->
                    <!--悬浮搜索框-->
                    <div class="nav white"></div>
                    <div class="clear"></div>
                </div>
            </article>
        </header>
        <div class="nav-table">
            <div class="long-title" style="margin-left: 100px;"><span class="all-goods">全部分类</span></div>
            <div class="nav-cont">
                <ul>
                    <li class="index" style="margin-left: 100px;"><a href="home1.html">首页</a></li>
                </ul>
            </div>
        </div>
        <b class="line"></b>
<!-- top内容结束 -->

<!-- 内容开始 -->
<div class="nr">
          <div class="bft_f">
          	<div class="bft_f_1">
            	<ul>
                    <li style="width:210px; font-size: 15px;">名称</li>
                    <li style="width:150px; font-size: 15px;">价格</li>
                    <li style="width:450px; font-size: 15px;">详情描述</li>
                    <li></li>
                </ul>
            </div>
            <div class="bft_f_2" style="height:130px;">
            	<img src="images/6.jpg" style="width:150px;height:130px; margin-top:0px;">
                <a href="wpxq.html">
                    <li style="width:210px ; height:130px; font-size: 20px;">[三只松鼠]大礼包</li>
                    <li style="width:150px; height:130px; font-size: 20px;">200元</li>
                    <li style="width:450px; height:130px; font-size: 15px;">熟练操作电脑，熟悉网络</li>
                    <div style="border-color: #ff7550;"></div>
                </a>

            </div>
               <div class="bft_f_2" style="height:130px;">
                <img src="images/6.jpg" style="width:150px;height:130px; margin-top:0px;">
                <a href="wpxq.html">
                    <li style="width:210px ; height:130px; font-size: 20px;">[三只松鼠]大礼包</li>
                    <li style="width:150px; height:130px; font-size: 20px;">200元</li>
                    <li style="width:450px; height:130px; font-size: 15px;">熟练操作电脑，熟悉网络</li>
                    <div style="border-color: #ff7550;"></div>
                </a>

            </div>
               <div class="bft_f_2" style="height:130px;">
                <img src="images/6.jpg" style="width:150px;height:130px; margin-top:0px;">
                <a href="wpxq.html">
                    <li style="width:210px ; height:130px; font-size: 20px;">[三只松鼠]大礼包</li>
                    <li style="width:150px; height:130px; font-size: 20px;">200元</li>
                    <li style="width:450px; height:130px; font-size: 15px;">熟练操作电脑，熟悉网络</li>
                    <div style="border-color: #ff7550;"></div>
                </a>

            </div>
          <!--   <div class="bft_f_2" style="height:130px;">
                <img src="images/6.jpg" style="width:150px;height:130px; margin-top:0px;">
                <li style="width:210px ; height:130px; font-size: 20px;">[三只松鼠]大礼包</li>
                <li style="width:150px; height:130px; font-size: 20px;">200元</li>
                <li style="width:450px; height:130px; font-size: 15px;">熟练操作电脑，熟悉网络</li>
                <div style="border-color: #ff7550;"></div>
            </div>
            <div class="bft_f_2" style="height:130px;">
                <img src="images/6.jpg" style="width:150px;height:130px; margin-top:0px;">
                <li style="width:210px ; height:130px; font-size: 20px;">[三只松鼠]大礼包</li>
                <li style="width:150px; height:130px; font-size: 20px;">200元</li>
                <li style="width:450px; height:130px; font-size: 15px;">熟练操作电脑，熟悉网络</li>
                <div style="border-color: #ff7550;"></div>
            </div> -->

            <div class="bft_f_3">
            	<ul>
                	<li>第<span> 3 </span>页</li>
                    <li><a href="#">首页</a></li>
                    <li><a href="#">上一页</a> </li>
                    <li><a href="#">下一页</a> </li>
                    <li><a href="#">尾页</a></li>
                    <li><a href="#">共 5 页</a></li>
                </ul>
            </div>
          </div>
          <!--   -->

        <!-- 底部内容开始 -->
        <div class="blank"></div>
        <div class="blank"></div>
        <div class="button" style="width: 100% ;">
            <a href="">关于我们</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="">网站声明</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="">联系方式</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="">服务中心</a><br />
        </div>
        <!-- 底部内容结束 -->

    </div>
	<!-- 帮众结束 -->

</div>
<!-- 内容结束 -->


</body>
</html>
