<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>物品详情</title>
<link href="css/select2.css" rel="stylesheet"/>
<link rel="stylesheet" href="css/style.css" />
<script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>

<script type="text/javascript" src="js/search/area.js"></script>
<script type="text/javascript" src="js/search/location.js"></script>
<script type="text/javascript" src="js/search/select2.js"></script>
<script type="text/javascript" src="js/search/select2_locale_zh-CN.js"></script>

<script type="text/javascript" src="js/jquery.touchSlider.js"></script>
<script type="text/javascript" src="js/js.js"></script>
<script type="text/javascript" src="js/ks-switch.pack.js"></script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">
<link href="../AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css">
<link href="../AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css">
<link href="../css/personal.css" rel="stylesheet" type="text/css">
<link href="../css/orstyle.css" rel="stylesheet" type="text/css">
<script src="../AmazeUI-2.4.2/assets/js/jquery.min.js"></script>
<script src="../AmazeUI-2.4.2/assets/js/amazeui.js"></script>

</head>

<body >
<!-- top内容开始 -->
        <header>
            <article>
                <div class="mt-logo">
            <!--顶部导航条 -->
                    <!--悬浮搜索框-->
                    <div class="nav white"></div>
                    <div class="clear"></div>
                </div>
            </article>
        </header>
        <div class="nav-table">
            <div class="long-title" style="margin-left: 100px;"><span class="all-goods">全部分类</span></div>
            <div class="nav-cont">
                <ul>
                    <li class="index" style="margin-left: 100px;"><a href="home1.html">首页</a></li>
                </ul>
            </div>
        </div>
        <b class="line"></b>
<!-- top内容结束 -->
    <div style="width: 100%; height: 900px; ">

        <!-- 内容开始 -->
        <div class="nr">
        	<div class="zzy_nr" style="height: 400px;">
        		<div class="zzy" style="top: 39px;">物品名称</div>
                    <div class="zzy_1">
                        <ul>
                            <li><span>☆</span>&nbsp;今天更新</li>
                            <li><span>¤</span>&nbsp;49人浏览</li>
                            <li><span>♥</span>&nbsp;4人收藏</li>
                        </ul>
                    </div>
                    <div class="zzy_2">
                        <table width="780" border="1" cellspacing="1" cellpadding="1">
                            <tr>
                                <td>全称：<span>....</span></td>
                                <td>价格：<span>....</span></td>
                                <td>用龄：。。。。</td>
                            </tr>
                            <tr >
                                <td style="width: 760px;">地址（校区/宿舍楼号/宿舍号）：</td>
                            </tr>
                            <tr>
                                <td>联系人：董小姐 </td>
                            </tr>
                            <tr>
                                <td>联系电话：<i>。。</i></td>
                                <td>微信：<i>。。。。</i></td>
                                <td>QQ：<i>。。。。</i></td>
                            </tr>

                        </table>
                          <div style="text-align: center;">
                                &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<button style="background-color: #ff0000 ; line-height: 30px;"><a href="ly.html" style="color: white;" >给他(她)留言</a></button>

                            </div>
                            <br>
                        <div class="center_js" style="width: 375px; position: relative; margin-right: 0px;">
                            <div class="center_gga">物品实拍</div>
                            <div class="banner">
                                <!--  banner图片开始 -->
                                <div class="main_visual">
                                    <div class="flicking_con">
                                        <a href="#">1</a>
                                        <a href="#">2</a>
                                        <a href="#">3</a>
                                        <a href="#">4</a>
                                    </div>
                                <div class="main_image">
                                    <ul>
                                        <a href="zzy.html"><li><span class="img_1"></span></li></a>
                                        <a href="zzy.html"><li><span class="img_2"></span></li></a>
                                        <a href="zzy.html"><li><span class="img_3"></span></li></a>
                                        <a href="zzy.html"><li><span class="img_4"></span></li></a>
                                    </ul>
                                        <a href="javascript;" id="btn_prev"></a>
                                        <a href="javascript;" id="btn_next"></a>
                                </div>
                                </div>
                                <!--  banner图片结束 -->
                            </div>
                        </div>
                        <div class="zzy_5" style="padding: 20px;">
                        	<p style="width:730px; height:40px; line-height:40px; background:#f7f7f7; color:#333; font-weight:bold; text-indent:10px; border:1px solid #ddd;">
                                <span style="color: #ff7f50;">关于产品</span>
                            </p>
                                <textarea cols="88" rows="7" style="position: center; border:1px; border-style:dashed none;border-color: red;">在这里输入内容...</textarea>
                        </div>
                    </div>
                </div>
                <div class="zzy_nra" style="position:relative;top: 0px;">
                	<div class="zzy_8"><a href="#"><img src="images/touxiang0.jpg" /></a></div>
                	<div class="zzy_6">向你推荐</div>
                    <div class="zzy_7">
                    	<ul>
                            <li>
                            	<a href="wpxq.html">
                                <p><span>物品</span></p>
                                <p>价格：元</p>
                                </a>
                            </li>
                            <li>
                            	<a href="wpxq.html">
                                <p><span>物品</span></p>
                                <p>价格：元</p>
                                </a>
                            </li>
                            <li>
                            	<a href="wpxq.html">
                                <p><span>物品</span></p>
                                <p>价格：元</p>
                                </a>
                            </li>
                            <li>
                            	<a href="wpxq.html">
                                <p><span>物品</span></p>
                                <p>价格：元</p>
                                </a>
                            </li>
                            <li>
                            	<a href="wpxq.html">
                                <p><span>物品</span></p>
                                <p>价格：元</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- 内容结束 -->
        </div>



        <!-- 底部内容开始 -->
        <div class="blank"></div>
        <div class="blank"></div>
        <div class="button" style="width: 100% ;">
            <a href="about.html">关于我们</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="sm.html">网站声明</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="contact.html">联系方式</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="">服务中心</a><br />
        </div>
        <!-- 底部内容结束 -->


</body>
</html>
